
name: Release
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 1.8 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
      - run: mkdir staging && cp target/*[!-sources].jar staging
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: staging

